html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  // https://github.com/szimek/signature_pad
  body
    h1 invoice app
    div
      input.receipt(type='button' value='Receipt')
      input.invoice(type='button' value='Invoice')
    form(action=)
      // ############################### Receipt ##################################
      div(class='receipt_page' style='display: block')
        h3 receipt goes here
        .logo
          label logo goes here
          input(type='file')
        // business name
        div(class=)
          label Business Name
          input(type='text' name='receipt_business_name')
        // Recipient name
        div(class=)
          label Recipient&apos;s Name
          input(type='text' name='receipt_business_name')
        div(class=)
          label Recipient&apos;s Address
          input(type='text' name='receipt_recipient_address')
        // Receipt number
        div(class=)
          label Receipt Number
          input(type='text' name='receipt_number')
        // Date Created
        .date
          label Select Date
          input(type='text' name='receipt_date_created')
        div(class=)
          label Payment Method
          select(name='receipt_payment_method')
            option(value=) Bank Transfer
            option(value=) Mobile Deposit
            option(value=) other
          label If Other
          input(type='text')
        // items
        div(class='receipt_item')
          div
            label Description
            textarea(name='description' cols='20' rows='2')
          div
            label Unit/Quantity
            input(name='Unit')
          div
            label Price
            input(type='text' name='price')
          input(type='button' value='add item' id='add_receipt_items')
        div(class='supplementary_items')
          div
            label Shipping 📦
            input(name='Shipping')
          div
            label VAT 
            input(name='vat')
          div
            label Discount
            input(type='text' name='discount')
        .totals
          div
            label Sub Total
            input(type='text' name='sub_total')
          div
            label Total
            input(type='text' name='total')
        div
          input(type='button' name='receipt_add_signature' id= value='Add Signature')
      // ############################### Invoice ##################################
      div(class='invoice_page' style='display: none')
        h3 invoice goes here
        // logo
        .logo
          label logo goes here
          input(type='file')
        // business name
        div(class=)
          label Business Name
          input(type='text' name='business_name')
        // Recipient name
        div(class=)
          label Recipient&apos;s Name
          input(type='text' name='Recipient_name')
        // invoice number
        div(class=)
          label Invoice Number
          input(type='text' name='invoice_number')
        // Date Created
        .date
          label Date
          input(type='text' name='date_created')
        // Payment Due Date
        .date
          label Due Date
          input(type='text' name='due_date')
        // forms of payment
        div(class=)
          label Payment Method
          select(name='payment_method')
            option(value=) Bank Transfer
            option(value=) Mobile Deposit
            option(value=) Other
          label If Other:
          input(type='text' name='invoice_if_other')
        // items
        div(class='invoice_item')
          div
            label Description
            textarea(name='description' cols='20' rows='2')
          div
            label Unit/Quantity
            input(name='Unit')
          div
            label Price
            input(type='text' name='price')
        br
        input(type='button' value='add item' id='add_invoice_items')
        div
          div(class='supplementary_items')
            label Shipping 📦
            input(name='Shipping')
          div
            label VAT 
            input(name='vat')
          div
            label Discount
            input(type='text' name='discount')
        .totals
          div
            label Sub Total
            input(type='text' name='sub_total')
          div
            label Total
            input(type='text' name='total')
        div
          input(type='button' name='invoice_add_signature' id= value='Add Signature')
        div
          input(type='submit' value='Preview')
  script(src='script.js')

